/* Header */
html {
  font-size: 18px;
  background-color: white;
  font-family: sans-serif;
  line-height: 1.4em;
}

body {
  font-family: Helvetica;
  line-height: 1.4em;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: underline;
}

header {
  border-bottom: 64px;
}

header .academy-logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  background-color: white;
  margin-right: 20px;
}

nav .menu {
  display: inline-flex;
  text-align: left;
}

.ul, li {
  display: inline-flex;
  text-align: left;
}

.menu ul, li {
  padding: 0 8px;
}

.menu li {
  margin-right: 24px;
}

.special-container-one {
  width: 100%;
  height: auto;
  background-color: LightGray;
}

img {
  margin: 32px 24px 24px 32px;
  width: 60%;
}

header div {
  display: block;
  text-align: left;
}

.column-one {
  display: block;
  width: 40%;
  align-items: center;
  margin-top: 135px;
  margin-bottom: 135px;
}

h1 {
  display: block;
  font-family: Arial;
  font-size: 60px;
  text-align: left;
  margin: 0;
  padding: 30px;
  line-height: 1.25;
}

h2 {
  display: block;
  font-family: Arial;
  font-size: 45px;
  text-align: left;
  margin: 0;
  padding: 30px;
  line-height: 1.2;
}

.title {
  background-color: black;
  padding: 1.5rem 1.25rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  width: 80%;
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.image-container {
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
}
