/* Header */
html {
  font-size: 18px;
  background-color: white;
  font-family: sans-serif;
  line-height: 1.4em;
}

body {
  font-family: Helvetica;
  line-height: 1.4em;
  margin: 0;
}

header .academy-logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  border-bottom: 32px;
  background-color: white;
}

header .menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  color: black;
}

ul, li {
  display: flex;
  padding: 0 1rem;
  justify-content: flex-end;
}

header div {
  display: flex;
  align-items: flex-end;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}
