/* Header */
html {
  font-size: 18px;
  background-color: white;
  font-family: sans-serif;
  line-height: 1.4em;
}

body {
  font-family: Helvetica;
  line-height: 1.4em;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: underline;
}

header {
  border-bottom: 64px;
}

header .academy-logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  background-color: white;
}

nav .menu {
  display: inline-flex;
  text-align: left;
}

ul, li {
  display: inline-flex;
  padding: 0 1rem;
  text-align: left;
  margin: 16px 16px 16px 24px;
}

header div {
  display: flex;
  text-align: left;
)
